body {
    background-color: #f0f7f4;
    margin: 32px 30px;
    font-family: 'Outfit';
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    column-gap: 60px;
}

nav ul a {
    text-decoration: none;
    color: black;
}

.logo {
    font-family: Margarine;
    color: #70abaf;
    font-size: 24px;
}

nav div {
    border: 2px solid #70abaf;
    padding: 5px 15px;
    border-radius: 30px;
    transition: 0.3s ease-out;
}

nav div a {
    text-decoration: none;
    transition: 0.3s ease-out;
}

nav div:hover {
    background-color: #70abaf;
}

nav div a:hover {
    color: white;
}

.page-heading {
    text-align: center;
    color: #47798C;
    margin-top: 40px;
    margin-bottom: 20px;
    font-family: 'Outfit';
    font-weight: 800;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 30px;
}

.search-bar input {
    width: 100%;
    margin: 10px;
    margin-left: 20px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 16px;
}

.search-bar img {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-right: 40px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    cursor: pointer;
    margin-bottom: 80px;
}

.category {
    width: calc(25% - 20px);
    /* Spread out boxes over the entire page */
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.category img {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.category h2 {
    font-size: 24px;
    font-weight: 600;
    color: #70abaf;
    margin-bottom: 10px;
    margin-left: 20px;
}